@charset "UTF-8";
@font-face {
  font-family: 'Asap';
  src: url("/fonts/Asap-VariableFont_wght.ttf"); }

@font-face {
  font-family: 'Asap-Condensed-Regular';
  src: url("/fonts/condensed/AsapCondensed-Regular.ttf"); }

@font-face {
  font-family: 'Asap-Condensed-SemiBold';
  src: url("/fonts/condensed/AsapCondensed-SemiBold.ttf"); }

.invite {
  display: flex;
  flex-direction: column;
  background-color: #2f3136;
  border-radius: 7px;
  max-width: 500px;
  margin: 10px 0; }
  .invite p {
    padding: initial;
    margin: initial; }
  .invite .splash {
    object-fit: cover;
    height: 49pt;
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }
  .invite .bottom-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px; }
    .invite .bottom-section .guild-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      flex-grow: 20;
      margin: 10px 0; }
      .invite .bottom-section .guild-wrapper .server-icon {
        border-radius: 20px;
        width: 56px;
        height: 56px; }
      .invite .bottom-section .guild-wrapper .title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        white-space: nowrap;
        margin: 0 15px; }
        .invite .bottom-section .guild-wrapper .title-wrapper div {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: initial; }
          .invite .bottom-section .guild-wrapper .title-wrapper div div {
            margin-top: 4px;
            margin-right: 10px;
            font-size: smaller; }
            .invite .bottom-section .guild-wrapper .title-wrapper div div .discord-indic__online {
              background-color: #3ba55d;
              height: 10px;
              width: 10px;
              border-radius: 5px;
              margin-right: 4px; }
            .invite .bottom-section .guild-wrapper .title-wrapper div div .discord-indic__offline {
              background-color: grey;
              height: 10px;
              width: 10px;
              border-radius: 5px;
              margin-right: 4px; }

.invitebutton {
  color: white;
  padding: 14px 35px;
  min-width: 100px;
  flex-grow: 1;
  border-radius: 6px;
  text-align: center;
  background-color: #2d7d46;
  transition: background-color .17s ease,color .17s ease;
  cursor: pointer; }

.invitebutton:hover {
  background-color: #215b32; }

.load-discordinvite {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .load-discordinvite .invitebutton {
    margin-right: 10px; }

.externalembed {
  display: flex;
  justify-content: center; }
  .externalembed div {
    text-align: center;
    font-size: 25px;
    border-radius: 15px;
    border: 2px dashed white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 315px;
    width: 80%;
    background-image: url(/images/Potion-transparent.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center; }
    @media screen and (max-width: 450px) {
      .externalembed div {
        width: 100%; } }
    .externalembed div p[id] {
      line-height: initial;
      text-decoration: underline;
      cursor: pointer; }
    .externalembed div a {
      line-height: initial;
      text-decoration: underline;
      color: inherit; }

/* Background */
.bg {
  color: #f8f8f2;
  background-color: #272822; }

/* PreWrapper */
.chroma {
  color: #f8f8f2;
  background-color: #272822; }

/* Error */
.chroma .err {
  color: #960050;
  background-color: #1e0010; }

/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit; }

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0; }

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0; }

/* LineHighlight */
.chroma .hl {
  background-color: #444444; }

/* LineNumbersTable */
.chroma .lnt {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* LineNumbers */
.chroma .ln {
  white-space: pre;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f; }

/* Line */
.chroma .line {
  display: flex; }

/* Keyword */
.chroma .k {
  color: #66d9ef; }

/* KeywordConstant */
.chroma .kc {
  color: #66d9ef; }

/* KeywordDeclaration */
.chroma .kd {
  color: #66d9ef; }

/* KeywordNamespace */
.chroma .kn {
  color: #f92672; }

/* KeywordPseudo */
.chroma .kp {
  color: #66d9ef; }

/* KeywordReserved */
.chroma .kr {
  color: #66d9ef; }

/* KeywordType */
.chroma .kt {
  color: #66d9ef; }

/* NameAttribute */
.chroma .na {
  color: #a6e22e; }

/* NameClass */
.chroma .nc {
  color: #a6e22e; }

/* NameConstant */
.chroma .no {
  color: #66d9ef; }

/* NameDecorator */
.chroma .nd {
  color: #a6e22e; }

/* NameException */
.chroma .ne {
  color: #a6e22e; }

/* NameFunction */
.chroma .nf {
  color: #a6e22e; }

/* NameOther */
.chroma .nx {
  color: #a6e22e; }

/* NameTag */
.chroma .nt {
  color: #f92672; }

/* Literal */
.chroma .l {
  color: #ae81ff; }

/* LiteralDate */
.chroma .ld {
  color: #e6db74; }

/* LiteralString */
.chroma .s {
  color: #e6db74; }

/* LiteralStringAffix */
.chroma .sa {
  color: #e6db74; }

/* LiteralStringBacktick */
.chroma .sb {
  color: #e6db74; }

/* LiteralStringChar */
.chroma .sc {
  color: #e6db74; }

/* LiteralStringDelimiter */
.chroma .dl {
  color: #e6db74; }

/* LiteralStringDoc */
.chroma .sd {
  color: #e6db74; }

/* LiteralStringDouble */
.chroma .s2 {
  color: #e6db74; }

/* LiteralStringEscape */
.chroma .se {
  color: #ae81ff; }

/* LiteralStringHeredoc */
.chroma .sh {
  color: #e6db74; }

/* LiteralStringInterpol */
.chroma .si {
  color: #e6db74; }

/* LiteralStringOther */
.chroma .sx {
  color: #e6db74; }

/* LiteralStringRegex */
.chroma .sr {
  color: #e6db74; }

/* LiteralStringSingle */
.chroma .s1 {
  color: #e6db74; }

/* LiteralStringSymbol */
.chroma .ss {
  color: #e6db74; }

/* LiteralNumber */
.chroma .m {
  color: #ae81ff; }

/* LiteralNumberBin */
.chroma .mb {
  color: #ae81ff; }

/* LiteralNumberFloat */
.chroma .mf {
  color: #ae81ff; }

/* LiteralNumberHex */
.chroma .mh {
  color: #ae81ff; }

/* LiteralNumberInteger */
.chroma .mi {
  color: #ae81ff; }

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #ae81ff; }

/* LiteralNumberOct */
.chroma .mo {
  color: #ae81ff; }

/* Operator */
.chroma .o {
  color: #f92672; }

/* OperatorWord */
.chroma .ow {
  color: #f92672; }

/* Comment */
.chroma .c {
  color: #75715e; }

/* CommentHashbang */
.chroma .ch {
  color: #75715e; }

/* CommentMultiline */
.chroma .cm {
  color: #75715e; }

/* CommentSingle */
.chroma .c1 {
  color: #75715e; }

/* CommentSpecial */
.chroma .cs {
  color: #75715e; }

/* CommentPreproc */
.chroma .cp {
  color: #75715e; }

/* CommentPreprocFile */
.chroma .cpf {
  color: #75715e; }

/* GenericDeleted */
.chroma .gd {
  color: #f92672; }

/* GenericEmph */
.chroma .ge {
  font-style: italic; }

/* GenericInserted */
.chroma .gi {
  color: #a6e22e; }

/* GenericStrong */
.chroma .gs {
  font-weight: bold; }

/* GenericSubheading */
.chroma .gu {
  color: #75715e; }

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: Asap, sans-serif;
  background-color: #2e2e2e;
  color: white;
  overflow: overlay; }

a {
  color: #27b6bc; }

p {
  line-height: 1.35em; }

/*==============================Header*/
header {
  grid-area: header;
  background: linear-gradient(180deg, #003036 8%, #025a5f 40%, #038387 62%, #27b6bc 100%);
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center; }

.logo {
  padding: 10px;
  width: 250px;
  height: auto;
  margin-right: 30px; }

/*==============================Navbar*/
nav.mainNav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 15px 0; }
  nav.mainNav ul li {
    margin: 10px 5px; }
    nav.mainNav ul li a {
      color: white;
      font-size: 17px;
      text-decoration: none;
      border-radius: 3px;
      padding: 5px;
      transition: background-color .5s ease; }
      nav.mainNav ul li a.active, nav.mainNav ul li a:hover {
        background-color: #003036; }

/*==============================Sidebar*/
.toc {
  display: flex;
  flex-direction: column;
  width: fit-content;
  overflow-y: auto;
  background-color: #2e2e2e; }
  .toc ul {
    margin-left: 1em;
    list-style: circle; }
    .toc ul li {
      margin: 15px 0; }
      .toc ul li a {
        color: #bdbdbd; }
    .toc ul .active > a {
      color: #27b6bc; }
  .toc > ul {
    margin-left: 0; }
  .toc--wrapper {
    position: fixed;
    max-height: 60%;
    max-width: 30%;
    top: 10rem;
    display: flex;
    flex-direction: row;
    z-index: 1; }
    @media screen and (max-width: 850px) {
      .toc--wrapper {
        top: initial;
        bottom: 1rem;
        max-width: 100%; } }
    .toc--wrapper .sectionlist {
      list-style: none; }
      .toc--wrapper .sectionlist .sectionlistitem::before {
        content: "»";
        color: goldenrod;
        margin-left: -2px;
        padding-right: 8px; }
    .toc--wrapper .currentsite > a {
      color: #27b6bc; }
    .toc--wrapper #TableOfContents {
      margin-left: 16px;
      padding: 1px 20px;
      background-color: #484848;
      border-radius: 20px; }
    .toc--wrapper .buttonclose {
      background-color: #2e2e2e, 20%;
      background-image: url(/images/OpenCloseArrow.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 30px;
      height: 30px;
      cursor: pointer; }
      @media screen and (max-width: 850px) {
        .toc--wrapper .buttonclose {
          width: 25px;
          height: 25px;
          padding: 12px; } }
    .toc--wrapper.opened {
      transform: initial; }
      .toc--wrapper.opened .buttonclose {
        transform: rotate(180deg); }

/*==============================Textcontent*/
section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  section article {
    margin: 40px;
    width: 90vw;
    max-width: 43em; }
    section article .screenshot img {
      width: 100%;
      height: auto;
      margin: 10px 0; }
    section article .screenshot-medium {
      display: flex;
      flex-direction: column;
      align-items: center; }
      section article .screenshot-medium img {
        width: 50%;
        height: auto;
        margin: 10px 0; }
    section article h1 {
      font-family: Asap-Condensed-SemiBold, sans-serif;
      font-size: 3em;
      margin-bottom: 0px; }
    section article h2 {
      font-family: Asap-Condensed-SemiBold, sans-serif;
      margin-top: 70px;
      font-size: 2em; }
    section article h3 {
      font-family: Asap-Condensed-SemiBold, sans-serif;
      margin-top: 40px;
      font-size: 1.5em; }
      section article h3 img {
        margin: 0px 4px; }
    section article h4 {
      font-style: italic; }
    section article h1, section article h2, section article h3, section article h4 {
      margin-bottom: 20px; }
    section article p {
      margin-bottom: 30px; }
    section article ul, section article ol {
      margin-left: 30px;
      margin-bottom: 30px; }
      section article ul li, section article ol li {
        margin-bottom: 10px; }
      section article ul li::marker, section article ol li::marker {
        font-size: 1.2em;
        color: goldenrod; }
    section article code {
      background-color: #535353;
      padding: 5px;
      border-radius: 6px; }
    section article .highlight {
      overflow-x: auto;
      width: 100%;
      text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
      margin-bottom: 20px; }
      section article .highlight div {
        border-radius: 10px;
        padding: 15px;
        width: min-content; }
      section article .highlight code {
        background-color: inherit;
        padding: inherit;
        border-radius: inherit; }
    section article details summary {
      font-size: 1.5em; }
    @media screen and (min-width: 800px) {
      section article strong {
        letter-spacing: 0.06em; } }
/*==============================Classes*/
.hovered {
  transition: background-color .5s ease; }

.hovered:hover {
  background-color: #235658; }

.transitioner {
  transition: transform .75s ease, background-color .5s ease; }

.border {
  padding: 20px;
  border: 2px solid white;
  border-radius: 25px;
  margin: 5px; }

.inlineBlock {
  display: inline-block; }

.inline {
  display: inline; }

.centerTextalign {
  text-align: center; }

figcaption {
  color: white; }

.invite {
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25); }

.smallnav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .smallnav ul li {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 10px; }
  .smallnav ul li::before {
    content: "»";
    padding: 0 5px; }

.auto-resizable-iframe {
  max-width: 560px;
  margin: 0px auto; }
  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 53%;
    height: 0px; }
  .auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%; }

.contentlist {
  list-style-type: none;
  margin-left: 0; }
  .contentlist h1 {
    margin-bottom: 3px;
    font-weight: bold;
    font-size: larger; }
  .contentlist p {
    margin-bottom: 0;
    color: white; }

.flexH {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }

.icon {
  height: 45px;
  padding-right: 10px; }

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start; }

.permalink {
  opacity: 30%;
  top: 5px;
  margin-left: 7px;
  transition: opacity .5s ease; }

.permalink:hover {
  opacity: 100%;
  transition: opacity .5s ease; }

.next-previous {
  display: flex;
  justify-content: space-between; }
  .next-previous a {
    padding: 15px;
    padding-bottom: 18px; }
  .next-previous .next::before {
    content: "«";
    color: goldenrod;
    margin-left: -2px;
    padding-right: 8px;
    font-size: 1.4em; }
  .next-previous .prev::after {
    content: "»";
    color: goldenrod;
    margin-left: 2px;
    padding-left: 8px;
    font-size: 1.4em; }

/*==============================Footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 100%;
  padding: 10px;
  position: static;
  bottom: 0;
  margin-top: auto; }

/*==============================Scrollbar*/
::-webkit-scrollbar {
  width: 10px; }
  ::-webkit-scrollbar-track {
    width: 0px;
    background-color: #ffffff00; }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px; }
    ::-webkit-scrollbar-thumb:hover {
      background-color: rgba(39, 182, 188, 0.7); }
  ::-webkit-scrollbar-button {
    display: none; }

body::-webkit-scrollbar {
  width: 18px; }

/*==============================Selection*/
::selection {
  background: #025a5f;
  /* WebKit/Blink Browsers */ }
