@font-face {
	font-family: 'Asap';
	src: url('/fonts/Asap-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'Asap-Condensed-Regular';
	src: url('/fonts/condensed/AsapCondensed-Regular.ttf');
}
@font-face {
	font-family: 'Asap-Condensed-SemiBold';
	src: url('/fonts/condensed/AsapCondensed-SemiBold.ttf');
}

@import "plugin/discordinvite.scss";
@import "plugin/embed.scss";
@import "plugin/syntax.scss";

$bg-color: #2e2e2e;

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body {
	font-family: Asap, sans-serif;
	background-color: $bg-color;
	color: white;
	overflow: overlay;
}

a {
	color: $color4;
}

p {
	line-height: 1.35em;
}


/*==============================Header*/

header {
	grid-area: header;
	background: linear-gradient(180deg, $color1 8%, $color2 40%, $color3 62%, $color4 100%);
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.logo {
	padding: 10px;
	width: 250px;
	height: auto;
	margin-right: 30px;
}

/*==============================Navbar*/

nav.mainNav {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style-type: none;
		margin: 15px 0;

		li {
			margin: 10px 5px;

			a {
				color: white;
				font-size: 17px;
				text-decoration: none;
				border-radius: 3px;
				padding: 5px;

				transition: background-color .5s ease;

				&.active, &:hover{
					background-color: $color1;
				}
			}
		}
	}
}


/*==============================Sidebar*/

.toc {
	display: flex;
	flex-direction: column;
	width: fit-content;
	overflow-y: auto;
	background-color: $bg-color;
	ul {
		margin-left: 1em;
		list-style: circle;
		li {
			margin: 15px 0;
			a {
				color: rgb(189, 189, 189);
			}
		}
		.active>a {
			color: $color4
		}
	}
	>ul{
		margin-left: 0;
	}

	&--wrapper{
		position: fixed;
		max-height: 60%;
		max-width: 30%;
		top: 10rem;
		@media screen and (max-width: 850px){
			top: initial;
			bottom: 1rem;
			max-width: 100%;
		}
		display: flex;
		flex-direction: row;
		z-index: 1;

		.sectionlist {
			list-style: none;
			.sectionlistitem::before {
				content: "»";
				color: goldenrod;
				margin-left: -2px;
				padding-right: 8px;
			}
		}

		.currentsite>a {
			color: $color4;
		}

		#TableOfContents{
			margin-left: 16px;
			padding: 1px 20px;
			background-color: lighten($bg-color, 10%);
			border-radius: 20px;
		}

		.buttonclose{
			background-color: $bg-color, 20%;
			background-image: url(/images/OpenCloseArrow.svg);
			background-repeat: no-repeat;
			background-size: cover;
			width: 30px;
			height: 30px;
			@media screen and (max-width: 850px){
				width: 25px;
				height: 25px;
				padding: 12px;
			}
			cursor: pointer;
		}
		&.opened{
			.buttonclose{
				transform: rotate(180deg);
			}
			transform: initial;
		}
	}

}

/*==============================Textcontent*/

section {
	display: flex;
	flex-direction: column;
	align-items: center;

	article {
		margin: 40px;
		width: 90vw;
		max-width: 43em;
		
		.screenshot img {
			width: 100%;
			height: auto;
			margin: 10px 0;
		}

		.screenshot-medium {
			display: flex;
			flex-direction: column;
			align-items: center;
			img {
				width: 50%;
				height: auto;
				margin: 10px 0;
			}
		}
	
		h1 {
			font-family: Asap-Condensed-SemiBold, sans-serif;
			font-size: 3em;
			margin-bottom: 0px;
		}
	
		h2 {
			font-family: Asap-Condensed-SemiBold, sans-serif;
			margin-top: 70px;
			font-size: 2em;
		}
	
		h3 {
			font-family: Asap-Condensed-SemiBold, sans-serif;
			margin-top: 40px;
			font-size: 1.5em;
			img{
				margin: 0px 4px;
			}
		}
	
		h4 {
			font-style: italic;
		}
	
		h1, h2, h3, h4{
			margin-bottom: 20px;
		}
	
		p {
			margin-bottom: 30px;
		}
	
		ul, ol{
			margin-left: 30px;
			margin-bottom: 30px;
	
			li{
				margin-bottom: 10px;
			}

			li::marker{
				font-size: 1.2em;
				color: goldenrod;
			}
		}
	
		code {
			background-color: #535353;
			padding: 5px;
			border-radius: 6px;
		}
		
		.highlight {
			overflow-x: auto;
			width: 100%;
			
			text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
			-moz-text-size-adjust: 100%;
			-webkit-text-size-adjust: 100%;
			div{
				border-radius: 10px;
				padding: 15px;
				width: min-content;
			}
			code {
				background-color: inherit;
				padding: inherit;
				border-radius: inherit;
			}
			margin-bottom: 20px;
		}
		details {
			summary{
				font-size: 1.5em;
			}
		}

		strong{
			@media screen and (min-width: 800px){
				letter-spacing: 0.06em;
			}
		}
	}
}

/*==============================Classes*/

.hovered{
	transition: background-color .5s ease;
}

.hovered:hover {
	background-color: darken($hover, 10%);
}

.transitioner{
	transition: transform .75s ease, background-color .5s ease;
}

.border {
	padding: 20px;
	border: 2px solid white;
	border-radius: 25px;
	margin: 5px
}

.inlineBlock {
	display: inline-block;
}

.inline{
	display: inline;
}

.centerTextalign {
	text-align: center;
}

figcaption {
	color: white;
}

.invite{
	box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
}

.smallnav {

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin-left: 0;
		padding-left: 0;

		li{
			padding-left: 1em;
			text-indent: -1em;
			margin-bottom: 10px;
		}
		li::before {
			content: "»";
			padding: 0 5px;
		}
	}

}

.auto-resizable-iframe {
	max-width: 560px;
	margin: 0px auto;

	> div {
		position: relative;
		padding-bottom: 53%;
		height: 0px;
	}
	iframe {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
	}
}
  
.contentlist {
	list-style-type: none;
	margin-left: 0;

	h1 {
		margin-bottom: 3px;
		font-weight: bold;
		font-size: larger;
	}
	p {
		margin-bottom: 0;
		color: white;
	}
}

.flexH {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.icon {
	height: 45px;
	padding-right: 10px;
}

.flex-wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: flex-start;
}

.permalink{
	opacity: 30%;
	top: 5px;
	margin-left: 7px;
	transition: opacity .5s ease;
}

.permalink:hover{
	opacity: 100%;
	transition: opacity .5s ease;
}

.next-previous {
	display: flex;
	justify-content: space-between;
	a {
		padding: 15px;
		padding-bottom: 18px;
	}
	.next::before{
		content: "«";
		color: goldenrod;
		margin-left: -2px;
		padding-right: 8px;
		font-size: 1.4em;
	}
	.prev::after{
		content: "»";
		color: goldenrod;
		margin-left: 2px;
		padding-left: 8px;
		font-size: 1.4em;
	}
}

/*==============================Footer*/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	width: 100%;
	padding: 10px;
	position: static;
	bottom: 0;
	margin-top: auto;
}

/*==============================Scrollbar*/

::-webkit-scrollbar{
	width: 10px;
	&-track{
		width: 0px;
		background-color: #ffffff00;
	}
	&-thumb{
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 15px;
		&:hover{
			background-color: rgba($color4, .7);
		}
	}
	&-button {
		display: none;
	}
	
}
body::-webkit-scrollbar{
	width: 18px;
}

/*==============================Selection*/

::selection {
	background: $color2; /* WebKit/Blink Browsers */
}