<!DOCTYPE html>
<html lang="en-GB">
<!-- Btw this is my first real website and I have no idea what I am doing ._. -->

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	{{ if .IsHome }}
		<title>MinecraftTAS</title>
		<meta name="description" content="{{.Site.Params.description}}">

		<meta property="og:title" content="MinecraftTAS">
		<meta property="og:image" content="/icons/PotionIcon.png">
		<meta property="og:description" content="{{.Site.Params.description}}">
	{{ else }}
		<title>{{.Title}}</title>
		<meta name="description" content="{{.Description}}">

		<meta property="og:title" content="{{.Title}}">
		{{ if (isset .Params "icon") }}
			<meta property="og:image" content="{{.Params.icon}}">
		{{ else }}
			{{ block "potionicon" . }}
			<meta property="og:image" content="/icons/PotionIcon.png">
			{{ end }}
		{{ end }}
		<meta property="og:description" content="{{.Description}}">

	{{ end }}
		<meta name="keywords" content="Minecraft, TAS, Tool-Assisted Speedrun, Modicikation, Playback, Non-Playback" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ block "style" .}}
		<link rel="stylesheet" href="/blue.css">
		<link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="theme-color" content="#27b6bc">
	{{ end }}

	<meta property="og:type" content="Website">
	<meta property="og:url" content="https://minecrafttas.com">
	<meta property="og:site_name" content="MinecraftTAS">
</head>
<body>
	<div class="flex-wrapper">
		<!-- Header -->
		<header>
			{{block "logo" .}}
			<a class="logo" href="/"><img src="/images/title/PotionTitle.svg" alt="potion-title"></a>
			{{end}}
			<nav>
				<ul>
					<li><a {{ if .IsHome}} class="active" {{ end }} href="/">Home</a></li>
					<li><a {{if in .RelPermalink "/tutorials/" }} class="active" {{end}} href="/tutorials/">Tutorials</a>
					</li>
					<li><a {{if in .RelPermalink "/downloads/" }} class="active" {{end}} href="/downloads/">Downloads</a>
					</li>
					<li><a {{if in .RelPermalink "/tasbattle/" }} class="active" {{end}} href="/tas-battle/"
							>TAS-Battle</a></li>
					<li><a {{if in .RelPermalink "/tas-comp/" }} class="active" {{end}}
							href="/tas-comp/">TAS-Competition</a></li>
					<li><a {{if in .RelPermalink "/misc/" }} class="active" {{end}} href="/misc/">Misc.</a></li>
					<li><a {{if in .RelPermalink "/discord/" }} class="active" {{end}}
							href="/discord/">Discord</a></li>
				</ul>
			</nav>
		</header>
		{{ block "main" .}}
		{{end}}
		{{ block "footer" .}}
		<!-- Footer -->
		<footer>
			<p>This website shouldn't use any cookies! ❌🍪❌</p>
			<p class="centerTextalign"><br>Website contributions by Scribble, Unease and Pancake</p>
		</footer>
		{{end}}
	</div>
</body>
</html>