<div id="{{.link}}" class=externalembed>
	<div>
		<p id="load-resource-{{.link}}">
			Load YouTube video
		</p>
		<p>
			or
		</p>
		<a href="https://youtu.be/{{.link}}" target=_blank>Follow the link</a>
	</div>
</div>
<script>
	document.getElementById("load-resource-{{.link}}").addEventListener("click", loadytvid)

	function loadytvid(){
		let replace = document.getElementById("{{.link}}")
		replace.innerHTML='<div><iframe loading="lazy" width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{.link}}"title="YouTube video player" frameborder="0"allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe></div>'
		replace.classList.add("auto-resizable-iframe")
		replace.classList.remove("externalembed")
	}
</script>