{{ define "main" }}
	<!-- Content -->
	<section>
		<article>
			<h2 id="welcome">Welcome to Minecraft Tool-Assisted Speedrunning!</h2>
			<p>Here, we aim to beat Minecraft in the fastest way possible by using tools!
				<br> To get started, check out the <a href="/tutorials/">Tutorials</a> section.
				<br> Btw, we are not affiliated with Mojang in any way, this is an unofficial "Minecraft" site.
			</p>
			<h2 id="news">Showcase</h2>
			<p>Still confused? Maybe check out these TASes! (If you watch them, you will get some cookies, be warned!)
			</p>
			<h3>Any% Glitched in ~20 seconds</h3>
			<p>Everything is allowed. A set seed, item duplication, dragon skip...</p>
			{{ partial "youtube-embed" (dict "link" "do08uW0N5Qs") }}
			<h3>All Advancements (1.12.2) Glitched in 00:12:25.0</h3>
			<p>Played in 1.12.2 since this was the first version to have advancements (In 1.11 they were called
				"Achievements") and because 1.13 added phantoms -.-</p>
			{{ partial "youtube-embed" (dict "link" "f1bIwF0xPDI") }}
		</article>
	</section>
{{end}}