<div class="invite" invite-url="{{.Get 0}}">
	<img class = "splash" style = "display: none;"></img>
	<div class="bottom-section">
		<div class="guild-wrapper">
			<img class = "server-icon" src="/discordinvite/missing.png"></img>
			<div class="title-wrapper">
				<strong class="discord-title">https://discord.gg/{{.Get 0}}</strong>
				<div>
					<div>
						<i class="discord-indic__online"></i>
						<p class="discord-online">???</p>
					</div>
					<div>
						<i class="discord-indic__offline"></i>
						<p class="discord-member">???</p>
					</div>
				</div>
			</div>
		</div>
		<a class="invitebutton" href="https://discord.gg/{{.Get 0}}">Join</a>
	</div>
</div>
